asgiref==3.4.1
certifi==2023.5.7
charset-normalizer==2.0.12
dataclasses==0.8
distlib==0.3.6
dj-database-url==0.2.2
Django==3.2.19
django-authtools==2.0.0
django-axes==1.6.0
django-bootstrap3==21.1
django-filter==21.1
django-guardian==2.4.0
django-object-actions==0.7.0
django-reversion==4.0.2
django-tables2==2.5.3
djangorestframework==3.14.0
dnspython==2.2.1
elastic-transport==8.4.0
elasticsearch==8.8.0
filelock==3.4.1
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
Markdown==3.3.7
platformdirs==2.4.0
psycopg2==2.9.6
pyasn1==0.5.0
pycrypto==2.6.1
pyley==0.2.2.2
python-dateutil==2.2
python-dotenv==0.20.0
python-etcd==0.4.5
python-memcached==1.59
pytz==2023.3
requests==2.27.1
reversion==0.2
rsa==4.9
six==1.16.0
sqlparse==0.4.4
toml==0.10.2
typing-extensions==4.1.1
urllib3==1.26.16
uWSGI==2.0.21
virtualenv==20.17.1
zipp==3.6.0
